<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/spark_line_icon_only"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/spark_line_icon_only_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SparkLineHR"
        tools:targetApi="31">
        <activity
            android:name=".SubmitWeekTimesheetActivity"
            android:exported="false"
            android:theme="@style/splash_screen"/>
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddOrUpdateActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GoalsActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LeaveRequestActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".IncidentReportingActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DevelopmentAndGoalsMenuActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SubmitTimesheetActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UpdatePersonalInformationActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UpdatePaymentInformationActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ViewSelectedPayslipActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ViewPayslipHistoryActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ViewPersonalInformationActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SelfServiceActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/splash_screen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>